<%- include("template/cabecera", {tituloWeb: 'Nuevo Bar'}) %>
<div>
<h3 class="text-center display-5 mb-3">Crear un nuevo bar:</h3>
<form action="/bar" class="my-2" method="POST">
    <input type="number" placeholder="Id" class="form-control my-2" name="id">
    <input type="text" placeholder="Nombre" class="form-control my-2" name="nombre">
    <label for="tipo">Tipo:</label>
    <select name="tipo">
        <option value="Taberna">Taberna</option>
        <option value="Ultramarinos">Ultramarinos</option>
        <option value="Bodega">Bodega</option>
        <option value="Restaurante">Restaurante</option>
      </select>
    <!-- <input type="text" placeholder="Tipo" class="form-control my-2" name="tipo"> -->
    <input type="text" placeholder="Descripción" class="form-control my-2" name="descripcion">
    <input type="text" placeholder="Ubicacion" class="form-control my-2" name="ubicacion">
    <input type="text" placeholder="Tipo de comida" class="form-control my-2" name="tipoComida">
    <button type="submit" class="btn btn-dark btn-block">
    Agregar
    </button>
    </form>
</div>

<%- include("template/footer")%> 
